// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//rm -r
//  Common
//  _____________________________________________

& when (@media-common = true) {

  .page-wrapper {
    button {
      &.action.primary {
        background: #8bc53f;
        border: 1px solid #57843c;
      }
    }
  }
}
