// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//rm -r
//  Common
//  _____________________________________________

& when (@media-common = true) {

  .page-wrapper {
    a, .alink, breadcrumbs a {
      color: #8bc53f;

      &:visited {
        color: #f3793b;
      }
    }
  }
}
