<div class="shipping-info" data-bind="visible: showShippingInfo()" style="display: none;">
    <div class="step-title" data-role="title" data-bind="i18n: 'Shipping Information'"></div>
    <p class="desc" data-bind="i18n: 'Shipping can take up to 2 weeks to this Country.'"></p>
</div>